<button class="btn btn-xs btn-success btn-block" (click)="openCrud(null)" *ngIf="isLogedIn()"><i class="fa fa-plus-square" aria-hidden="true"></i> Agregar</button>
<div class="table-responsive">
  <table class="table">
    <tr>
      <th>Regalo</th>
      <!--<th>Link</th>-->
      <th>Reservado</th>
      <th *ngIf="isLogedIn()">Reservador</th>
      <th *ngIf="isLogedIn()">Email</th>
      <th *ngIf="isLogedIn()">Código cancelación</th>
      <th>Reserva</th>
      <th *ngIf="isLogedIn()">Editar</th>
    </tr>
    <tr *ngFor="let item of list" [ngClass]=" { 'table-danger': item.reserver }">
      <td class="title-field">{{item.title}}</td>
      <!--<td><a class="email-link" [href]="item.url">{{item.url}}</a></td>-->
      <td>{{item.reserver ? 'Si' : 'No'}}</td>
      <td *ngIf="isLogedIn()">{{item.reserver}}</td>
      <td *ngIf="isLogedIn()">{{item.reserverEmail}}</td>
      <td *ngIf="isLogedIn()">{{item.cancelationCode}}</td>
      <td>
        <button class="btn btn-sm btn-primary" (click)="openView(item, true)">Ver</button>
        <button class="btn btn-sm btn-primary" *ngIf="!item.reserver" (click)="openView(item, false)">Reservar</button>
        <button class="btn btn-sm btn-danger" *ngIf="item.reserver" (click)="removeReserved(item)">Cancelar</button>        
      </td>
      <td *ngIf="isLogedIn()">
        <button class="btn btn-sm btn-success" (click)="openCrud(item)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        <button class="btn btn-sm btn-danger" (click)="delete(item)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
      </td>
    </tr>    
  </table>
</div>

<template ngbModalContainer></template>




