<!--http://lekkerlogic.com/2015/05/angularjs-and-bootstrap-mysql-shopping-list-tutorial/-->
<section class="items">
	
	<header class="items-header">
		<div class="row">
			<h2>Regalos</h2>
			<!--<div class="col-sm-9 col-xs-12">

				<form class="form-inline" name="shopList">
					<div class="form-actions">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Add New Item" autofocus required />
							<div class="input-group-btn">
								<button class="btn btn-info" type="submit" ng-click="addItem(itemInput); itemInput = null" ng-disabled="shopList.$invalid">
									<i class="fa fa-plus"></i>&nbsp;Add Item
								</button>
							</div>
						</div>
					</div>
				</form>

			</div>

			<div class="col-sm-3 hidden-xs">
				<input type="text" ng-model="filterItem" class="form-control" placeholder="Filter Items" />
			</div>-->
		</div>
	</header>

	<fieldset class="items-list">
		<label class="items-list-item" *ngFor="let item of list">
			<input
			type="checkbox"
			class="items-list-cb"/>
			<span class="items-list-mark"></span>
			<span class="items-list-desc" ngClass="{strike:false}">{{item.title}} </span> 
			<a ng-click="deleteItem(item.id)" class="pull-right red"><i class="fa fa-minus-circle"></i></a> 
		</label>
	</fieldset>	

</section>