.help {
    font-size: 0.80rem;
    a {
        font-weight: bold;
    }

    p {
        margin-bottom: 2px;
    }

    margin-bottom: 10px;
}
.reserved {
    /*text-decoration:line-through;*/
    background-color: red;
}

.table-danger {
    .title-field {
        text-decoration:line-through;
    }
}