<div class="container">
  <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/envelop.svg" alt="angular logo" />
      <span translate>Regalos</span>
    </h1>
  </div>
  
  <ul class="nav nav-tabs my-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/home/things-list']" [routerLinkActive]="['active']">Regalos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/home/bank-transfer']" [routerLinkActive]="['active']">Transferencia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/home/credit-card']" [routerLinkActive]="['active']">Tarjeta</a>
    </li>
  </ul>
  <br>
  <router-outlet></router-outlet>
</div>