<div class="modal-header">
  <h4 class="modal-title">{{data.id == 0 ? 'Nuevo objeto' : 'Editar' }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="inputTitle">Título</label>
      <input type="text" class="form-control" id="inputTitle" [(ngModel)]="data.title" name="title" placeholder="Ingrese título">
    </div>
    <div class="form-group">
      <label for="textareaDesc">Descripción</label>
      <textarea class="form-control" id="textareaDesc" [(ngModel)]="data.description" name="description" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="inputLink">Link</label>
      <input type="url" class="form-control" id="inputLink" [(ngModel)]="data.url" name="link" placeholder="Ingrese url">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="activeModal.close(data)">Guardar</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Close click')">Cerrar</button>
</div>